body {
  font-family: "Helvetica Neue", Arial, sans-serif;
  background-color: #FAFAFA;
}

#main {
  padding: 100px 70px;
}

#main a {
  text-decoration: none;
  color: #333333;
}

h1 {
  font-size: 50px;
  font-weight: 400;
  margin:0px 0px 5px 0px;
}

h2 {
  font-size: 30px;
  font-weight: 300;
  margin:0px 0px 30px 0px;
}

#links a {
  background-color: #5A5A5A;
  padding: 5px 10px;
  margin-right: 10px;
  display: inline-block;
  color: #FFFFFF;
  text-decoration: none;
}

#links a:active, #links a:hover {
  background-color: #707070;
}
